<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form to Object</title>
  </head>
  <body>
    <h2>Databoss</h2>
<form action="" method="post">
  Select your language:<br/>
  <select name="language">
    <option value="ruby">Ruby</option></select><br/>

  Select your framework:<br/>
  <select name="framework">
    <option value="rails">Rails</option></select><br/>

  Select your ORM:<br/>
  <select name="orm">
    <option value="activerecord">Active Record</option></select><br/>

  Select your database:<br/>
  <select name="db">
    <option value="psql">Postgresql</option></select><br/>

  Name your table:<input type="text" name="Tname" maxlength="36" size="12"/> <br/>

  Select the association:<br/>
  <select name="association">
    <option value="none">None</option>
    <option value="onetoone">One to one</option>
    <option value="onetomany">One to many</option>
    <option value="manytomany">Many to many</option></select><br/>

  First column name:<input type="text" name="C1name" maxlength="36" size="12"/> <br/>
  Data type:<input type="text" name="datatype1" maxlength="36" size="12"/> <br/>
  Validations:<br/>
  Valid:<input type="checkbox" name="C1validations[]" value="C1valid"/><br/>
  Uniq:<input type="checkbox" name="C1validations[]" value="C1uniq"/><br/>
  Required:<input type="checkbox" name="C1validations[]" value="C1required"/><br/>
  Second column name:<input type="text" name="C2name" maxlength="36" size="12"/> <br/>
  Data type:<input type="text" name="datatype2" maxlength="36" size="12"/> <br/>
  Validations:<br/>
  Valid:<input type="checkbox" name="C2validations[]" value="C2valid"/><br/>
  Uniq:<input type="checkbox" name="C2validations[]" value="C2uniq"/><br/>
  Required:<input type="checkbox" name="C2validations[]" value="C2required"/><br/>
  Third column name:<input type="text" name="C3name" maxlength="36" size="12"/> <br/>
  Data type:<input type="text" name="datatype3" maxlength="36" size="12"/> <br/>
  Validations:<br/>
  Valid:<input type="checkbox" name="C3validations[]" value="C3valid"/><br/>
  Uniq:<input type="checkbox" name="C3validations[]" value="C3uniq"/><br/>
  Required:<input type="checkbox" name="C3validations[]" value="C3required"/><br/>

  <p><input type="Submit" /></p>
</form>
<h2>JSON</h2>
<pre id="result">
</pre>
<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="/src/objForm.js"></script>

  </body>
</html>
