<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/css/formStyles.css">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/src/data_form.js"></script>


    <title></title>
  </head>

  <body>
    <div class="container">
      <h1>CheatSheet Generator</h1>
      <div class="divider"></div>
      <div class="row">

        <div class="col s12">
          <div class="col s3 offset-s1">
              <h4>Language</h4>
          </div>
          <div class="input-field col s6" id="input-box">
            <select id="language">


            </select>
          </div>
        </div>

        <div class="col s12">
          <div class="col s3 offset-s1">
              <h4>Framework</h4>
          </div>
          <div class="input-field col s6" id="input-box">
            <select >
              <option value="" disabled selected>Choose your framework</option>
              <option value="1" id="f"></option>
              <option value="2" id="f2"></option>
            </select>
          </div>
        </div>

        <div class="col s12">
          <div class="col s3 offset-s1">
              <h4>DB Type</h4>
          </div>
          <div class="input-field col s6" id="input-box">
            <select>
              <option value="" disabled selected>Choose your database</option>
              <option value="1">Postgres</option>
              <option value="2">mySql</option>
            </select>
          </div>
        </div>

      <div class="col s12">
        <div class="col s3 offset-s1">
            <h4>Table Name</h4>
        </div>
        <div class="input-field col s6" id="input-box">
          <input id="table-name" type="text" class="validate">
          <label for="table-name">Table Name</label>
        </div>
      </div>

      <div class="col s12">
        <div class="col s3 offset-s1">
            <h4>Column Name</h4>
        </div>
        <div class="input-field col s6" id="input-box">
          <input id="column-name" type="text" class="validate">
          <label for="column-name">Column Name</label>
        </div>
      </div>

      <div class="col s12">
        <div class="col s3 offset-s1">
            <h5><strong>...has</strong></h5>
        </div>
        <div class="input-field col s6" id="input-box">
          <select>
            <option value="" disabled selected>Choose your associations</option>
            <option value="1">One-to-many</option>
            <option value="2">Many-to-many</option>
            <option value="3">None</option>
          </select>
        </div>
      </div>

      <div class="col s12">
        <div class="col s3 offset-s1">
            <h5><strong>...data types</strong></h5>
        </div>
        <div class="input-field col s6" id="input-box">
          <select>
            <option value="" disabled selected>Choose your types</option>
            <option value="1">String</option>
            <option value="2">Integer</option>
            <option value="3">...</option>
          </select>
        </div>
      </div>

      <div class="col s12">
        <div class="col s3 offset-s1">
            <h5><strong>...validations</strong></h5>
        </div>
        <div class="input-field col s6" id="input-box">
          <select>
            <option value="" disabled selected>Choose your validations</option>
            <option value="1">Required</option>
            <option value="2">Not-required</option>
            <option value="3">...</option>
          </select>
        </div>
      </div>

    </div>
  </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="/lib/formInterface.js"></script>
  </body>

</html>
